@model JobPortal.Models.Job_Shifts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/WebsiteViews/_AccountLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Job_Shifts</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job_Shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Shift)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
