<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-4">
            <div class="widget">
                <div class="widget-content">
                    <img class="logo" src="img/header-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, sunt illum dolore dolor vel perferendis nisi sequi laudantium porro blanditiis!</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-4">
            <div class="widget">
                <h6 class="widget-title">Navigation</h6>

                <div class="widget-content">
                    <div class="row">
                        <div class="col-xs-6 col-sm-12 col-md-6">
                            <ul class="footer-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Candidates</a></li>
                                <li><a href="#">Partners</a></li>
                            </ul>
                        </div>

                        <div class="col-xs-6 col-sm-12 col-md-6">
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-2">
            <div class="widget">
                <h6 class="widget-title">Follow Us</h6>

                <div class="widget-content">
                    <ul class="footer-links">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-2">
            <div class="widget">
                <h6 class="widget-title">Popular Jobs</h6>

                <div class="widget-content">
                    <ul class="footer-links">
                        <li><a href="#">Web Developer</a></li>
                        <li><a href="#">Web Designer</a></li>
                        <li><a href="#">UX Engineer</a></li>
                        <li><a href="#">Account Manager</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
