<ul class="primary-nav">
    <li class="active has-submenu">
        <a href="index.html">Home</a>
        <ul>
            <li><a href="index.html">Home with Boxes</a></li>
            <li><a href="homepage-slider.html">Home with Slider</a></li>
        </ul>
        <span class="submenu-arrow"></span>
    </li>
    <li class="has-submenu">
        <a href="jobs.html">Jobs</a>
        <ul>
            <li><a href="jobs.html">Jobs Listings</a></li>
            <li><a href="jobs-single.html">Jobs Details</a></li>
        </ul>
        <span class="submenu-arrow"></span>
    </li>
    <li class="has-submenu">
        <a href="candidates.html">Candidates</a>
        <ul>
            <li><a href="candidates.html">Candidates Listings</a></li>
            <li><a href="candidates-sidebar.html">Candidates Listings Sidebar</a></li>
            <li><a href="candidates-single.html">Candidates Details</a></li>
        </ul>
        <span class="submenu-arrow"></span>
    </li>
    <li class="has-submenu">
        <a href="about-us.html">About Us</a>
        <ul>
            <li><a href="partners.html">Partners</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
        </ul>
        <span class="submenu-arrow"></span>
    </li>
    <li><a href="register.html">Register</a></li>
    <li><a href="shortcodes.html">Shortcodes</a></li>
</ul>
