<div class="header-search-bar">
    <div class="container">
        <form>
            <div class="basic-form clearfix">
                <a href="#" class="toggle"><span></span></a>

                <div class="hsb-input-1">
                    <input type="text" class="form-control" placeholder="I'm looking for a ...">
                </div>

                <div class="hsb-text-1">in</div>

                <div class="hsb-container">
                    <div class="hsb-input-2">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>


                    <div class="hsb-select">
                        <select class="form-control">
                            <option value="0">Select Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>
                </div>

                <div class="hsb-submit">
                    <input type="submit" class="btn btn-default btn-block" value="Search">
                </div>
            </div>

            <div class="advanced-form">
                <div class="container">
                    <div class="row">
                        <label class="col-md-3">Distance</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="1" data-max="200" data-current="100" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 49.748743718593%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 49.748743718593%;"></a></div>
                                <div class="last-value"><span>100</span> km</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Rating</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="1" data-max="100" data-current="20" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 19.1919191919192%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 19.1919191919192%;"></a></div>
                                <div class="last-value">&gt; <span>20</span> %</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Days Published</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="1" data-max="60" data-current="30" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 49.1525423728814%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 49.1525423728814%;"></a></div>
                                <div class="last-value">&lt; <span>30</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Location</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Switzerland">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Industry</label>

                        <div class="col-md-9">
                            <select class="form-control">
                                <option value="">Select Industry</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                                <option value="">Option 3</option>
                                <option value="">Option 4</option>
                                <option value="">Option 5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>