<div class="header-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="header-banner-box register">
                    <div class="counter-container">
                        <ul class="counter clearfix">
                            <li class="zero">0</li>
                            <li>3</li>
                            <li>5</li>
                            <li>1</li>
                            <li>0</li>
                            <li>9</li>
                        </ul>

                        <div><span>Jobs</span></div>
                    </div>

                    <a href="#" class="btn btn-default">Register Now</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="header-banner-box post-job">
                    <img src="~/Content/frontend/img/verified.png" alt="">

                    <a href="#" class="btn btn-red">Post a Job</a>
                </div>
            </div>
        </div>
    </div>
</div>