<div class="success-stories-section">
    <div class="container">
        <h5 class="mt10">Success Stories</h5>

        <div>
            <div class="flexslider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 2600%; transition: 0s; -webkit-transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px);">
                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-0.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-1.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-2.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-3.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-4.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-5.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-6.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-7.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-8.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-9.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-3.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-4.png" alt="" draggable="false">
                            </a>
                        </li>

                        <li style="float: left; display: block; width: 130px;">
                            <a href="#">
                                <img class="thumb" src="img/content/face-5.png" alt="" draggable="false">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="flex-direction-nav"><li><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li><a class="flex-next" href="#"></a></li></ul>
    </div>
</div>
