<!DOCTYPE html>
<!--[if IE 7]><html class = "ie7"><![endif]-->
<!--[if IE 8]><html class = "ie8"><![endif]-->
<!--[if IE 9]><html class = "ie9"><![endif]-->
<!--[if !(IE 7) | !(IE 8) | !(IE 9) ]><!-->
<html>
<!--<![endif]-->
<head>
    <title>Some Thing Wrong!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style type="text/css">
        .error-template {
            padding: 40px 15px;
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }

            .error-actions .btn {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <div class="wrapper company-profile">
        <header>
            <div class="">
                <div class="site-title">
                    <a style="text-align:center" href="home_v.1.html">
                        <img src="images/logo.png" alt="*" />
                    </a>
                    <h1>
                        <a style="text-align:center" href="home_v.1.html">Opening</a>
                    </h1>
                </div>
                <!-- .site-title -->
            </div>
            <!-- .site-header -->
        </header>
        <!-- header -->
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-template">
                            <h1>
                                Oops!
                            </h1>
                            <h2>
                                500 Not Found
                            </h2>
                            <div class="error-details">
                                Sorry, an error has occured, Requested page not found!
                            </div>
                            <div class="error-actions">
                                <input type="submit" href="#">
                                Take Me Home </button>
                                <button class=".btn" href="#">
                                    Contact Support
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- .wrapper -->
</body>
</html>