@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <header id="header" class="header-style-1">
    <div class="header-page-title">
        <div class="container">
            <h1>About Us</h1>

            <ul class="breadcrumbs">
                <li>@*<a href="#">Home</a>*@@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@*<a href="#">About Us</a>*@@Html.ActionLink("About Us", "About", "Home")</li>
            </ul>
        </div>
    </div>
</header>
    }


<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 page-content">
                <div class="white-container mb0">
                    <div class="title-lines">
                        <h3 class="mt15">Job On Click </h3>
                    </div>

                    <p><strong>The system is specifically designed for IT field as all the web portals are generic ones where it becomes very difficult to search for IT jobs. We are making a job portal specifically for the jobs of IT. It becomes very difficult to find jobs in IT field from existing portals. So we will try to make an easy approaching IT based job portal. It will make all the IT un-employed people to find jobs of their temperament. Also it will ease the companies and software houses to post their jobs on portal and find people of their choice.</strong></p>

                    
                    <div class="fitvidsjs">
                        <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;"><iframe src="//player.vimeo.com/video/24456787" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid573296"></iframe></div>
                    </div>
                    <p> Reaching your long-term technological objectives is the most important in making the right technology selection one that fits you unique circumstances and grows with you. Planning your technological future can be a daunting task. That is where JOB ON CLICK comes in. We are trained, certified professionals, and we can draw on years of technical expert planning experience when creating a long-term strategy to benefit you and your organization achieve long-term critical business aspects.
                            </p>
                    <p>We are a market-attentive, process-centered team that develops and delivers innovative solutions to our customers, consistently outperforms our peers and provides a dynamic and challenging environment for our employees.
                        Our mission is to be the principal provider of targeted specialized and technology oriented solutions to our customers.</p>

                    <h3 class="bottom-line">Our Team</h3>

                    <div class="row">
                        

                        <div class="col-sm-6 col-md-4">
                            <div class="our-team-item">
                                <div class="img">
                                    <img src="~/Content/frontend/img/content/face-6.png" alt="">
                                </div>

                                <h6>John Doe <span>CEO</span></h6>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="our-team-item">
                                <div class="img">
                                    <img src="~/Content/frontend/img/content/face-8.png" alt="">
                                </div>

                                <h6>John Doe <span>CEO</span></h6>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="our-team-item">
                                <div class="img">
                                    <img src="~/Content/frontend/img/content/face-9.png" alt="">
                                </div>

                                <h6>John Doe <span>CEO</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 page-sidebar">
                <aside>
                    <div class="widget sidebar-widget white-container links-widget">
                        <ul>
                            <li class="active">@*<a href="about-us.html">About Us</a>*@@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@*<a href="privacy-policy.html">Privacy Policy</a>*@@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                            <li>@*<a href="terms-conditions.html">Terms &amp; Conditions</a>*@@Html.ActionLink("Terms & Conditions", "TermsConditions", "Home")</li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div> <!-- end .container -->
</div>
