@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
    <link rel="stylesheet" href="~/Content/frontend/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/frontend/css/Accountbootstrap.css">
    <link rel="stylesheet" href="~/Content/frontend/css/AccountStyle.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="main">
                <div class="img1">
                    <img src="~/Content/frontend/img/header-logo.png" alt="">
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
