@using Microsoft.AspNet.Identity
@*<div class="user-area">
    <img class="avatar" alt="Avatar" src="images/avatar.png">
    <p>Hi, <span>John</span>!</p>
    <ul class="user-options" style="display: block;">
        <li><a href="sign_up.html">Sign Up</a></li>
    </ul>
</div>*@
<div class="user-area">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <img class="avatar" alt="Avatar" src="images/avatar.png">
            <p>Hi, <span>@Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</span>!</p>
            <ul class="user-options" style="display: block;">
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
    <!-- .user-options -->
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
</div>