<nav class="site-nav">
    <ul>
        <li class="current_page_item">
            <a href="home_v.1.html">Home</a>
            <ul class="sub-menu">
                <li><a href="home_v.1.html">Home 1</a></li>
                <li class="current_page_item"><a href="home_v.2.html">Home 2</a></li>
                <li><a href="home_v.3.html">Home 3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Pages</a>
            <ul class="sub-menu">
                <li><a href="opening.html">Opening</a></li>
                <li><a href="add_opening.html">Add Opening</a></li>
                <li><a href="company_profile.html">Company Profile</a></li>
                <li><a href="company_profile_settings.html">Company Profile Settings</a></li>
                <li><a href="search_results_left_aside.html">Search Results Left Aside</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!-- .site-nav -->
