<nav class="site-nav">
    <ul>
        <li><a href="http://bestwebsoft.com/about/">About</a></li>
        <li><a href="http://bestwebsoft.com/plugin/">Products</a></li>
        <li><a href="http://support.bestwebsoft.com/">Support Forum</a></li>
    </ul>
</nav>
