<div class="slider">
    <div class="slide slide-1" id="slide-0" style="z-index: 3; display: block;">
        <img class="slide-img" src="~/Areas/FrontEnd/Images/slide1.jpg" alt=""><div class="slide-blackout"></div>
        <h2>Need Work?</h2>
        <p>Register and get free access to latest opening worldwide. Create and submit your CV using few simple steps.</p>
        <a href="home_v.2.html" class="learn-more">&lt; Learn more &gt;</a>
    </div>
    <div class="slide slide-2" id="slide-1" style="display: none; z-index: 5;">
        <img class="slide-img" src="/Areas/FrontEnd/Images/slide2.jpg" alt=""><div class="slide-blackout"></div>
        <h2>Instant access to latest openings</h2>
        <p>Try our new iOS application for free!</p>
        <img class="slider-search-results" src="/Areas/FrontEnd/Images/slide-search-results.png" alt="">
    </div>
    <div class="slide slide-3" id="slide-2" style="display: none; z-index: 5;">
        <img class="slide-img" src="images/slide3.jpg" alt=""><div class="slide-blackout"></div>
        <h2>Stay updated with latest openings!</h2>
        <p>Praesent varius nulla sed elit viverra, ut gravida nisl vestibulum risus vel tincidunt tristique.</p>
        <img class="slide-phone" src="/Areas/FrontEnd/Images/slide-phone.png" alt=""><a href="#" class="app-store"><img src="/Areas/FrontEnd/Images/appstore-btn.png" alt=""></a>
    </div>
    <div class="sliderBtns" style="left: 644.5px;"><div class="slider-indicator current" id="slide-0"></div><div class="slider-indicator" id="slide-1"></div><div class="slider-indicator" id="slide-2"></div></div>
</div>