<div class="links"><a class="facebook" href="https://www.facebook.com/bestwebsoft"></a><a class="twitter" href="https://twitter.com/bestwebsoft"></a><a class="youtube" href="http://www.youtube.com/bestwebsoft"></a></div>
<!-- .links -->