<div class="user-area">
    <img class="avatar" alt="Avatar" src="~/Areas/FrontEnd/Images/avatar.png" />
    <p>Hi, <span>John</span>!</p>
    <ul class="user-options">
        <li>@Html.ActionLink("User Profile Settings", "UserProfileSetting", "Account")</li>
        <li><a href="sign_in.html">Sign In</a></li>
        <li><a href="sign_up.html">Sign Up</a></li>
        <li><a href="reset_password.html">Reset Password</a></li>
    </ul>
    <!-- .user-options -->
</div>
<!-- .user-area -->
